<h1>please enter your first name </h1>
<form method = "post" action= "name">
	<input type = "text" name = "firstname">
	<input type = "text" name = "lastname">
	<input type = "submit" value = "enter">
</form>