<h2><%=firstname%> <%=lastname%> Please enter your age.</h2>

<form method = "post" action = "age">
	<input type = "number" name = "age">
	<input type = "submit" value = "enter">
	<input type = "hidden" name = "firstname" value = "<%=firstname%>">
	<input type = "hidden" name = "lastname" value = "<%=lastname%>">
</form>